<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Prediction</title>

    <!-- Font Icon -->
   
    <!-- Main css -->
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
</head>
<body>

    <div class="main">

        <div class="container">
            <div class="signup-content">
                <div class="signup-img">
                    <img src="static/images/form-img.jpg" alt="">
                    <div class="signup-img-content">
                        <h2>Predictions for the English Premier League </h2>
                        <p></p>
                    </div>
    
                </div>
                <form action="#">
                 <label for="cars">Home:</label>
                 <select id="cars" name="cars">
  <option value="volvo">Liverpol</option>
  <option value="saab">Man. city</option>
  <option value="fiat">Leicester city</option>
  <option value="audi">Chelsea</option>
  <option value="volvo">Man. United</option>
  <option value="saab">Wolves</option>
  <option value="fiat">Sheffield United</option>
  <option value="audi">Tottenham</option>
  <option value="fiat">Arsenal</option>
  <option value="audi">Burnley</option>
    <option value="fiat">Crystal Palace</option>
  <option value="audi">NewCastle</option>
</select> 
<label for="cars">Away:</label>
                 <select id="cars" name="cars">
  <option value="volvo">Liverpol</option>
  <option value="saab">Man. city</option>
  <option value="fiat">Leicester city</option>
  <option value="audi">Chelsea</option>
  <option value="volvo">Man. United</option>
  <option value="saab">Wolves</option>
  <option value="fiat">Sheffield United</option>
  <option value="audi">Tottenham</option>
  <option value="fiat">Arsenal</option>
  <option value="audi">Burnley</option>
    <option value="fiat">Crystal Palace</option>
  <option value="audi">NewCastle</option>
</select> 
</form>
   

 


                <div class="signup-form">
                    <form  method="POST">
    {# This hidden_tag is a CSRF security feature. #}
    {{ form.hidden_tag() }}
    {{ form.inp1.label }} {{form.inp1}}
    <br>
    {{ form.inp2.label}} {{form.inp2}}
    <br>
    {{form.inp3.label}}{{form.inp3}}
    <br>
    {{form.inp4.label}}{{form.inp4}}
    <br>
    {{ form.inp5.label }} {{form.inp5}}
    <br>
    {{ form.inp6.label}} {{form.inp6}}
    <br>
    {{form.inp7.label}}{{form.inp7}}
    <br>
    {{form.inp8.label}}{{form.inp8}}
    <br>
    {{ form.inp9.label }} {{form.inp9}}
    <br>
    {{ form.inp10.label}} {{form.inp10}}
    <br>
    {{form.inp11.label}}{{form.inp11}}
    <br>
    {{form.inp12.label}}{{form.inp12}}
    <br>
    {{form.inp13.label}}{{form.inp13}}
    <br>
    {{form.inp14.label}}{{form.inp14}}
    <br>
    {{ form.submit() }}
</form>
                </div>
                
      <br>
        {{pred}}<br>
            </div>
        </div>

    </div>

    <!-- JS -->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/nouislider/nouislider.min.js"></script>
    <script src="static/vendor/wnumb/wNumb.js"></script>
    <script src="static/vendor/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="static/vendor/jquery-validation/dist/additional-methods.min.js"></script>
    <script src="static/js/main.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>